__pycache__/
**/.next/
*.pyc
*.pyo
**/.smbdelete*
.env
.next
dump.rdb
node_modules
frontend/mealplan-nextjs/.env.smbdelete*
frontend/app/recipes/\[id]/._page.js
frontend/app/meals/._page.js
backend/app/api/.smbdeleteAAA8cbd4.4
._.gitignore
