fastapi==0.108.0
uvicorn==0.25.0
openai==1.65.4
python-dotenv==1.0.0
httpx==0.26.0
anyio==3.7.0
pymupdf==1.22.5
python-multipart==0.0.9
pymongo==4.5.0
python-jose[cryptography]==3.3.0
Pillow==9.2.0
python-magic==0.4.27
google-cloud-storage
google-cloud-aiplatform==1.83.0
google-auth==2.38.0
requests==2.31.0